<h1>Meus Chamados</h1>

<%= link_to 'Novo Chamado', new_client_ticket_path, class: 'btn btn-primary mb-3' %>

<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.title %></td>
        <td><%= ticket.status.humanize %></td>
        <td>
          <%= link_to 'Ver', client_ticket_path(ticket), class: 'btn btn-sm btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>