<h1>Novo Prestador de Serviço</h1>

<%= render 'form' %>

<%= link_to 'Voltar', admin_providers_path, class: 'btn btn-secondary' %>

<%= link_to 'Voltar ao Painel Admin', admin_root_path, class: 'btn btn-secondary' %>