<h1>Painel Administrativo</h1>

<div>
  <h2>Gerenciar Recursos</h2>
  <ul>
    <li><%= link_to 'Prestadores de Serviço', admin_providers_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Planos de Prestadores', admin_provider_plans_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Planos de Clientes', admin_client_plans_path, class: 'btn btn-primary' %></li>
  </ul>
</div>