<h1>Novo Plano de Prestador</h1>

<%= render 'form', plan: @provider_plan %>

<%= link_to 'Voltar aos Planos do Prestador', admin_provider_plans_path, class: 'btn btn-secondary' %>

<%= link_to 'Voltar ao Painel Admin', admin_root_path, class: 'btn btn-secondary' %>